<form method="post" action="{{ path('app_cotizacion_delete', {'id': cotizacion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cotizacion.id) }}">
    <button class="btn">Delete</button>
</form>
