{% extends 'base.html.twig' %}

{% block title %}New Cotizacion{% endblock %}

{% block body %}
    <h1>Create new Cotizacion</h1>

    {{ include('cotizacion/_form.html.twig') }}

    <a href="{{ path('app_cotizacion_index') }}">back to list</a>
{% endblock %}
