<form method="post" action="{{ path('app_cliente_delete', {'id': cliente.id}) }}" onsubmit="return confirm('Desea eliminar este cliente, esta acción es irreversible?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <div class='text-right'>
        <button class="btn btn-danger">Eliminar</button>
    </div>
</form>
