   
:root { 
    --global_main_color: #f46530; 
    --global_main_color_btn_text_color: #611e05; 
    --home_text_color: #ffffff; 
    --home_third_background_color: #000000; 
    --home_custom_image_size: px; 
    --home_custom_image_width: px; 
    --menu_color: #1b262c; 
    --modules_color_text: #000000; 
    --modules_color_text_second: #000000; 
    --inside_modules_color_text: #000000; 
    --sectionsPadding: 100px; 
    --home_text_top_space_1: 0px; 
    --home_text_bottom_space_1: 16px; 
    --home_text_top_space_2: 0px; 
    --home_text_bottom_space_2: 30px; 
    --home_text_top_space_3: 0px; 
    --home_text_bottom_space_3: 31px; 
    --homepage_padding_top: px; 
    --homepage_padding_bottom: px; 
    --homepage_main_goal_margin_top: 0px; 
    --homepage_main_goal_margin_bottom: 0px; 
    --homepage_second_goal_margin_top: 0px; 
    --homepage_second_goal_margin_bottom: 0px; 
    --modules_color_second: #ffffff; 
    --modules_color: #f9f9f9; 
    --footer_back: #f9f9f9; 
    --footer_text_hover: #f46530; 
    --footer_links_color: #f46530; 
    --footer_text: #000000; 
    --home_background_color: #000000; 
    --inside_modules_color_box: #f9f9f9; 
    --inside_modules_color_text_box: #000000; 
    --module_separate_border_color: ; 
    --modules_color_box: #ffffff; 
    --modules_color_second_box: #f9f9f9; 
    --modules_color_text_second_box: #000000; 
    --inside_modules_color: #ffffff; 
    --modules_color_text_box: #000000; 
    --font_logo: Caladea; 
    --font_menu: Caladea; 
    --global_font: Caladea; 
    --font_slogan: Caladea; 
    --font_slogan_2: Caladea; 
    --font_second_slogan: Caladea; 
    --font_modules_header: Caladea; 
    --sticky_menu: 1; 
    --scrollHeaderSize: 0px; 
    --modules_color_section_main: #f46530; 
    --modules_color_section_btn_text: #611e05; 
    --modules_color_second_section_main: #f46530; 
    --modules_color_second_section_btn_text: #611e05; 
    --inside_modules_color_section_box_main: #f46530; 
    --inside_modules_color_section_btn_text: #611e05; 
    --line_height_modules_header: 1.25; 
    --global_line_height: 1.25;
    } 
<