    <!-- Sidebar -->
    <div id="sidebar">
        <div class="sidebar-header">
            <h3>Menú Principal</h3>
        </div>
        <div class="sidebar-components">
            <a href="/dashboard_admin" class="sidebar-item active" title='Inicio del sistema'>
                <i class="fas fa-home"></i> Inicio
            </a>
            <a href="/user" class="sidebar-item" title='Control de usuarios del sistema'>
                <i class="fas fa-users"></i> Usuarios
            </a>       
            <a href="/cliente" class="sidebar-item" title='Control de Clientes del sistema'>
                <i class="fas fa-briefcase"></i> Clientes
            </a>    
            <a href="/unidad" class="sidebar-item" title='Control de Unidades de Medida del sistema'>
                <i class="fa-solid fa-ruler"></i> Unidades
            </a>                          
            <a href="/inventario" class="sidebar-item" title='Control de Materiales del sistema'>
                <i class="fa-solid fa-boxes-stacked"></i> Materiales
            </a>
            <a href="/movimiento" class="sidebar-item" title='Control de Entrada/Salida de Materiales del sistema'>
                <i class="fa-solid fa-cart-flatbed"></i> Movimientos
            </a>       
            <a href="/cotizacion" class="sidebar-item" title='Control de Proyectos del sistema'>
                <i class="fa-solid fa-hand-holding-dollar"></i> Cotizaciones
            </a>                 
            <a href="/proyecto" class="sidebar-item" title='Control de Proyectos del sistema'>
                <i class="fa-solid fa-diagram-project"></i> Planificación
            </a>
            <a href="/help" class="sidebar-item">
                <i class="fas fa-question-circle"></i> Ayuda
            </a>
        </div>
    </div>