    <!-- Sidebar -->
    <div id="sidebar">
        <div class="sidebar-header">
            <h3>Menú Principal</h3>
        </div>
        <div class="sidebar-components">
            <a href="/dashboard_admin" class="sidebar-item active">
                <i class="fas fa-home"></i> Inicio
            </a>
            <a href="/user" class="sidebar-item">
                <i class="fas fa-users"></i> Usuarios
            </a>             
            <a href="/dashboard_vendedor" class="sidebar-item">
                <i class="fa fa-store"></i> Inventario
            </a>
            <a href="/dashboard_planificador" class="sidebar-item">
                <i class="fas fa-toilet-paper"></i> Planificación
            </a>
            <a href="/help" class="sidebar-item">
                <i class="fas fa-question-circle"></i> Ayuda
            </a>
        </div>
    </div>