{% extends 'base.html.twig' %}

{% block title %}Movimeinto de Inventario{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="{{ logo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>
        </div>
    </nav>    
    <!-- Sidebar -->
    {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content">
        <div class="row" style="padding-top:50px !important">
            <div class="col-11 col-md-5 col-lg-5 mx-auto mt-0 mt-md-auto mb-0 mb-md-auto">
                <div class='text-right'>
                    <a href="{{ path('app_inventario_index') }}" title="Regresar al Listado"><i class="fa-solid fa-list"></i></a>
                </div>
                <div class='card'>
                    <div class='card-header'>
                        <h2>Movimiento de Inventario</h2>
                    </div>
                    <div class='card-body'>
                            <div class="container mt-3">
                            {# 'app.flashes' devuelve un array de arrays #}
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                        <span class='text-danger'>{{ message }}</span>
                                        
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            // Colapsar/Expandir Sidebar
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            
            // Hacer que los items del sidebar sean activos al hacer clic
            $('.sidebar-item').on('click', function() {
                $('.sidebar-item').removeClass('active');
                $(this).addClass('active');
            });
        }); 


        function cierraModal(){
            $('#miModal').modal('hide');
        }

        function cierraModal2(){
            $('#miModalProyectos').modal('hide');
        }     
        
        function msgError (cadena){
            var cadena="<span class='text-danger'>"+cadena+"</span>";
            $('#miModal').find('.modal-body').html(cadena);
            const tituloModal = document.querySelector('#miModal .modal-title');
            tituloModal.innerHTML = "Atención";
            $('#miModal').modal('show');    
        }

        function msgWarning (cadena){
            var cadena="<span class='text-warning'>"+cadena+"</span>";
            $('#miModal').find('.modal-body').html(cadena);
            const tituloModal = document.querySelector('#miModal .modal-title');
            tituloModal.innerHTML = "Atención";
            $('#miModal').modal('show');     
        }

        function msgInfo (cadena){
            var cadena="<span class='text-info'>"+cadena+"</span>";
            $('#miModal').find('.modal-body').html(cadena);
            const tituloModal = document.querySelector('#miModal .modal-title');
            tituloModal.innerHTML = "Atención";
            $('#miModal').modal('show');     
        }        
    </script>
{% endblock %}
{% block modales %}
    <!-- cuadro modal  de anuncios -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Título del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="javascript:cierraModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aquí va el contenido de tu modal. Puedes incluir texto, imágenes, formularios, ¡lo que necesites!
                </div>
            </div>
        </div>
    </div>

{% endblock %}
